.text-editor-wrapper{
  @apply bg-gray-50 w-full rounded-lg border border-gray-300; 
}

.text-editor{
 @apply bg-gray-50 text-sm p-2; 
}

.rdw-editor-toolbar{
  @apply !bg-gray-50 dark:!bg-gray-700;
}

.rdw-editor-main{
  @apply !h-[400px] dark:bg-gray-800;
}

.rdw-editor-main h1 { font-size: 2em; font-weight: bold; }
.rdw-editor-main h2 { font-size: 1.5em; font-weight: bold; }
.rdw-editor-main h3 { font-size: 1.17em; font-weight: bold; }
.rdw-editor-main h4 { font-size: 1em; font-weight: bold; }
.rdw-editor-main h5 { font-size: 0.83em; font-weight: bold; }
.rdw-editor-main h6 { font-size: 0.67em; font-weight: bold; }

.rdw-option-wrapper, .rdw-dropdown-wrapper{
  @apply dark:!bg-gray-400;
}

.rdw-dropdown-selectedtext{
  @apply dark:!text-white;
}

.rdw-option-active{
  @apply dark:!bg-gray-500;
}
